@font-face {
	font-family: myLeadFont;
	src: url("Dyer Arts and Crafts.ttf");
}

@font-face {
	font-family: myFont;
	src: url("EastMarketNF.ttf");
}

body {
	background-image: url("grey.png");
	font-family: myLeadFont;
}

.jumbotron {
	font-size: 55px;
}

.jumbotron, .footer	{
	background-color: #87a4ce;
	border: 4px solid #a55e06;
	margin-top: 30px;
}

#gif {
	position: absolute;
	border: 4px solid #bca325;
	top: 2.5%;
	left: 2%;
	width: 15%;
}

.header {
	font-family: myFont;
	font-size: 32px;
	padding-top: 10px;
	background-color: #a55e06;
	border: 4px solid #bca325;
	margin-bottom: 30px;
}

.main {
	font-family: myFont;
	font-size: 20px;
	background-color: #bca325;
	border: 4px solid #a55e06;
	height: 200px;
	padding-top: 15px;
	margin-bottom: 35px;
}

#blanks-wins {
	margin-top: 50px;
}

#win-counter {
	margin-top: 50px;
}

.left {
	border-right: 1px solid #a55e06;
}

img {
	border: 4px solid #a55e06;
}